{% extends "layout.html" %}


{% block title %}
    Recuperar alumno
{% endblock %}

{% block scripts %}
    <!-- Bootstrap table -->
    <link href="https://unpkg.com/bootstrap-table@1.21.3/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.21.3/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.21.3/dist/bootstrap-table-locale-all.min.js"></script>
    {{super()}}
{% endblock %}

{% block main %}

    <h2 class="mb-5">Alumnos dados de baja recientemente</h2>
    <div class="container-sm text-start">
        <div class="d-flex justify-content-between">
            <div class="p-2">
                <input autocomplete="off" autofocus id="buscar" placeholder="Buscar alumno" type="text">
            </div>
        </div>
    </div>
    <br>

    <div id="alumnos-div" class="container-fluid">
        <table id="tabla-alumnos" class="table table-hover table-bordered table-sm"
        data-search="true" data-search-accent-neutralise="true" data-search-selector="#buscar"
        data-show-columns="true" data-show-columns-toggle-all="true"
        data-show-pagination-switch="true" data-show-toggle="true" data-show-fullscreen="true"
        data-buttons-class="" data-locale="es-MX" data-visible-search="true"
        data-page-list="[10, 25, 50, 100, All]" data-select-item-name="selectedItems">
            <thead id="thead" class="color-primario">
                <tr>
                    <th data-field="state" data-checkbox="true"></th>
                    <th data-sortable="true" scope="col" data-visible="false" >ID</th>
                    <th data-sortable="true" scope="col">Nombre(s)</th>
                    <th data-sortable="true" scope="col">Apellidos</th>
                    <th data-sortable="true" scope="col">Correo electrónico</th>
                    <th data-sortable="true" scope="col">Fecha de eliminación</th>
                    <th>Recuperar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody id="tbody">
                {% for i in lista %}
                    <tr>
                        <td></td>
                        <td>{{ i.Alumnos.id }}</td>
                        <td >{{ i.Alumnos.nombre }}</td>
                        <td>{{ i.Alumnos.apellidos }}</td>
                        <td>{{ i.Alumnos.correo }}</td>
                        <td>{{ i.fecha_de_eliminacion.strftime('%d/%m/%Y') }}</td>
                        <td>                          
                            <!--Recuperar-->
                            <form action="/recuperar_alumno" method="post">
                                <input type="hidden" name="id" value="{{ i.Alumnos.id }}">
                                <button type="submit" class="edit btn verde" title="Rectivar alumno"><i class="bi-small bi bi-person-check-fill mx-1"></i><span class="mx-1 no-movil">Recuperar</span></button>
                            </form>
                        </td>
                        <td>
                            <!--Eliminar permanentemente-->
                            <form id="form-eliminar-usuario" action="/eliminar_permanentemente" method="post">
                                <input type="hidden" name="seleccionado" id="seleccionado">
                                <button type="button" class="edit btn btn-danger" title="Eliminar permanentemente" onclick="confirmarEliminarUsuario({{ i.Alumnos.id }}, '{{ i.Alumnos.nombre }}', '{{ i.Alumnos.apellidos }}')"><i class="bi-small bi bi-exclamation-triangle-fill mx-1"></i><span class="mx-1 no-movil">Eliminar</span></button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="botones-fijos">
        <div class="btn-group">
            <div>
                <button id="recuperar-seleccionados" class="btn-big btn verde" title="Recuperar seleccionados"><i class="bi bi-person-dash-fill"></i><div class="mx-1 no-movil">Recuperar seleccionados</div></button>
                <button id="eliminar-seleccionados" class="btn-big btn btn-danger" title="Eliminar seleccionados"><i class="bi bi-person-fill-slash"></i><div class="mx-1 no-movil">Eliminar seleccionados</div></button>
                <form id="form-seleccionados" method="post">
                    <input type="hidden" name="seleccionados" id="seleccionados">
                </form>
            </div>
        </div>
    </div>

    <script>
        // Selección múltiple
        $(document).ready(function(){

            // Click para seleccionar
            $('#tabla-alumnos').bootstrapTable({
                    clickToSelect: true
            });

            // Obtener seleccionados
            function obtenerSeleccionados() {
                let seleccionados = $('#tabla-alumnos').bootstrapTable('getSelections');
                // Convertir arreglo de objetos a arreglo de IDs
                let idsSeleccionados = [];
                for (i in seleccionados)
                {
                    idsSeleccionados.push(seleccionados[i][1]);
                }
                // Establecer el valor del input oculto con los IDs seleccionados
                $('#seleccionados').val(JSON.stringify(idsSeleccionados));
                return idsSeleccionados.length > 0;
            }

            // Recuperar seleccionados
            $('#recuperar-seleccionados').click(function(){
                // Obtener seleccionados
                let seleccion = obtenerSeleccionados();
                $('#accion').val("reactivar");
                $('#form-seleccionados').attr('action','/recuperar_alumnos')
                $('#form-seleccionados').submit();
            });

            // Eliminar seleccionados
            $('#eliminar-seleccionados').click(function(){
                // Obtener seleccionados
                let seleccion = obtenerSeleccionados();
                // Confirmar eliminación
                if (seleccion) {
                    if (confirm("¿Estás seguro de que quieres eliminar permanentemente de la base de datos a los usuarios seleccionados? \n ⚠️ ADVERTENCIA: Esta acción no puede deshacerse.")) {
                        $('#accion').val("eliminar");
                        $('#form-seleccionados').attr('action','/eliminar_alumnos_permanentemente')
                        $('#form-seleccionados').submit();
                    }
                }
            });

        });

        // Confirmar eliminación de usuario
        function confirmarEliminarUsuario(idUsuario, nombre, apellidos) {
            if (confirm(`¿Estás seguro de que deseas eliminar permanentemente de la base de datos a ${nombre} ${apellidos}? \n ⚠️ ADVERTENCIA: Esta acción no puede deshacerse.`)) {
                $('#seleccionado').val(idUsuario);
                $('#form-multiples-usuarios').submit();
            }
            else {
                return false;
            }
        }
    </script>

{% endblock %}